{
  "presets": [
    ["es2015", { "module": false }],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-async-to-generator",
    "transform-do-expressions",
    "syntax-do-expressions",
    "transform-runtime"
  ],
}